---
title: Accepted Papers
layout: page
slide_id: 5
---

<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col text-body conference-text text-justify">
        <h5 class="text-info"><strong>Artigos Aceitos</strong> - Parabéns aos autores!</h5>
        <p>Passe o mouse sobre o nome de um autor para saber sua afiliação.</p>
        <ul>
            {% for paper in site.data.accepted %}
            <li> Id do Artigo: &#35;{{paper.id}}; Trilha: {{paper.track}} <br>
                <strong>{{paper.title}}</strong><br>
                {% for author in paper.authors %}
                <span title="{{author.name}} ({{author.affiliation}})">{{author.name}}</span>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </li>
            <br>
            {% endfor %}
        </ul>
    </div>
</div>
