---
title: Call for Demos
layout: page
slide_id: 2
---

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify">
        <div class="conference-text">
            <p class="lead">Chamada de Trabalhos de TCC e Dissertações</p>
            <p>{{site.data.cfd.description}}.</p>

            <p>
                Solicitamos gentilmente que você envie seu artigo de pesquisa usando o {{site.data.submission.portal}}:
                <a href="{{site.data.submission.url}}">{{site.data.submission.url}}</a>.
            </p>
            <p>
                Ao preparar sua submissão, siga as instruções fornecidas nas <a href="{{site.data.cfp.submission}}">Diretrizes de Submissão</a>,
                e não deve exceder <b>{{site.data.submission.pagelimits[1].limit}}</b> páginas incluindo texto, figuras e referências.
                A submissão deve incluir o título, o resumo e os nomes e afiliações de todos os autores.
            </p>

        </div>

        {% include card-important-dates.html %}

        <div class="conference-text">
            {% include contact-us.html %}
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% if site.data.cfd %}
        <p>
            As áreas de interesse incluem, mas não estão limitadas a:
        </p>
        <ul>
            {% for area in site.data.cfd.areas %}
            <li><b>{{area.category}}</b></li>
            {% if area.topics %}
            <ul>
                {% for topic in area.topics %}
                <li>{{topic}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</div>
