---
title: Minicursos
layout: page
slide_id: 3
---

<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col text-dark">
        <h6 class="text-info">Minicursos da {{site.data.conference.short_title}}</h6>
        {% if site.data.mcursos.minicursos %} 
            {% for mc in site.data.mcursos.minicursos %}
            <div>
                <div class="card">
                    <div class="card-header text-white bg-dark" style="font-size: 100%;">Minicurso {{mc.type}}: <strong><i>{{mc.title}}</i></strong>
                    </div>
                    <div class="card-block bg-light committee">
                        <p class="card-subtitle text-dark pt-1 pb-1" style="font-size: 100%;"><b>Horário e local</b>: {{mc.date}}, {{mc.time}} — {{mc.location}}</p>
                        {% if mc.abstract %}
                            <p class="card-subtitle text-justify ps-2 pb-1" style="font-size: 90%;"><b>Resumo</b>: {{mc.abstract}}</p>
                        {% endif %}
                        {% if mc.prereqs %}
                            <p class="card-subtitle text-justify ps-2 pb-1" style="font-size: 90%;"><b>Prerequisitos</b>: {{mc.prereqs}}</p>
                        {% endif %}
                        {% if mc.speakers %}
                        <div class="card">
                          {% for speaker in mc.speakers %}
                            <div class="card-header text-white bg-dark" style="font-size: 100%;">Instrutor: <a href="{{ speaker.homepage }}"><strong><i>{{ speaker.name }}</i></strong></a>
                            </div>
                            <div class="card-block bg-light committee">
                              <div class="d-flex">
                                <img class="speaker-photo" src="{{speaker.image_path}}" alt="{{speaker.name}}">
                                <div class="align-self-center text-justify">
                                    {% if speaker.post %}
                                        <p class="card-subtitle"><b>Cargo</b>: {{ speaker.post }}</p>
                                    {% endif %}
                                    <p class="card-subtitle"><b>Afiliação</b>: {{ speaker.org }}</p>
                                    <p class="card-subtitle"><b>Sobre o instructor: </b> {{speaker.bio}}</p>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                        {% else %}
                        <div class="card-block bg-light committee">
                          <p class="card-title">Esperando confirmação</p>
                          <!-- 
                          <p><strong>TBA</strong></p>
                          <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
                          -->
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <p>
              Acesse o <a href="./program.html"><strong>cronograma</strong></a> para ver o resto da programação do {{site.data.conference.short_title}}.
            </p>
        {% else %}
            <div class="alert alert-warning rounded text-center mx-3 my-5">
                TBA
            </div>
        {% endif %}
        <div class="conference-text">{% include contact-us.html %}</div>
    </div>
</div>
