---
title: Program
layout: page
slide_id: 4
---

<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col conference-text">
        {% if site.data.program.online.live %}
        <h6 class="text-info">Online</h6>
        <p>
            The conference will be streamed live{% if site.data.program.online.record %} and recorded for each day{% endif %}.
            <br>
            The event can be accessed online at: <a href="{{site.data.program.online.url}}">{{site.data.program.online.url}}</a>
        </p>
        <p>
            {% if site.data.program.online.streams %}
            <table class="table">
                <tr>
                    <th>Stream</th>
                    <th>Link</th>
                </tr>
                {% for stream in site.data.program.online.streams %}
                <tr>
                    <td>{{stream.title}}</td>
                    <td><a href="{{stream.url}}">{{stream.url}}</a></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </p>
        {% endif %}
        <h3 class="text-info text-center">Agenda Preliminar</h3>
        <p class="text-justify">Todos os eventos acontecerão no auditório do Instituto de Computação, localizado no térreo,
        com exceção dos minicursos da AWS e da LexisNexis, que acontecem no Laboratório 304, no 
        terceiro andar. A Maratona de Programação Paralela será online.</p>
        {% if site.data.program.schedule != nil %}
        {% for day in site.data.program.schedule %}
        <div>
            <h4 class="schedule-table-heading">{{ day.dateReadable }} - Dia {{ forloop.index }}</h4>
            <table class="table table-bordered table-striped table-hover table-responsive table-sm">
                {% for timeslot in day.timeslots %}
                <thead>
                    <tr>
                        <th class="bg-dark text-center text-white align-middle">
                            <div>{{timeslot.startTime}} - {{timeslot.endTime}}</div>
                        </th>
                        {% if timeslot.type == "service" %}
                        <th class="bg-secondary text-center align-middle">
                            <h6 class="text-white">{{timeslot.title}}</h6>
                            {% if timeslot.chair %}
                                <h7>Session chair: {{timeslot.chair}}</h7>
                            {% endif %}
                        </th>
                        {% else %}
                            {% if timeslot.type == "session" %}
                                <th class="bg-success text-center text-white align-middle">
                                    <h6>{{timeslot.title}}</h6>
                                    {% if timeslot.session %}
                                        <h6>Sessão: {{timeslot.session}}</h6>
                                    {% endif %}
                                    {% if timeslot.chair %}
                                        <h7> Chair: {{timeslot.chair}}</h7>
                                    {% endif %}
                                </th>
                            {% else %}                        
                                {% if timeslot.type == "minicurso" %}
                                    <th class="bg-warning text-center text-white  align-middle">
                                        <h6><a " href="./mcursos.html#{{timeslot.id}}">{{timeslot.title}}</a></h6>
                                        {% if timeslot.speaker %}
                                            <h6>{{timeslot.speaker}}</h6>
                                        {% endif %}
                                        {% if timeslot.chair %}
                                            <h7>Session chair: {{timeslot.chair}}</h7>
                                        {% endif %}    
                                    </th>
                                {% else %}                              
                                    {% if timeslot.type == "talk" %}
                                        <th class="bg-primary text-center text-white">
                                            <h6><a style="color:white" href="./talks.html#{{timeslot.id}}">{{timeslot.title}}</a></h6>
                                            {% if timeslot.speaker %}
                                                <h6>{{timeslot.speaker}}</h6>
                                            {% endif %}
                                            {% if timeslot.chair %}
                                                <h7>Session chair: {{timeslot.chair}}</h7>
                                            {% endif %}
                                        </th>
                                    {% else %}
                                        {% if timeslot.type == "maratona" %}
                                            <th class="bg-danger text-center align-middle text-white">
                                                <h6><a style="color:white" href="./cpf.html">{{timeslot.title}}</a></h6>
                                            </th>
                                        {% else %}
                                            <th class="bg-info text-center align-middle align-middle">
                                                <h6 class="text-body text-warning">{{timeslot.title}}</h6>
                                            </th>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}    
                    </tr>
                </thead>
                {% if timeslot.events %}
                <tbody>
                    {% for event in timeslot.events %}
                    <tr>
                        <td width="20%">
                        </td>
                        {% if event.pid %}
                            {% for paper in site.data.accepted %}
                                {% if event.pid == paper.id%}
                                    <td>
                                        <p><b>{{paper.title}}</b><br><i>
                                        {% for author in paper.authors %}
                                            {{author.name}} ({{author.affiliation}}){% unless forloop.last %}, {% endunless %}
                                        {% endfor %}
                                        </i></p>
                                    </td>    
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <td>
                                <p><b>{{event.title}}</b><br><i>{{event.speakers}}</i></p>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-warning rounded text-center mx-3 my-5">
            TBA
        </div>
        {% endif %}

        <div class="conference-text">
            {% include contact-us.html %}
        </div>
    </div>
</div>
