---
title: Registration
layout: page
slide_id: 6
---

<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col text-danger">
        <h5>Inscreve-se Já!</h5>
        {% if site.data.registration.about %}
        <p>
            {{site.data.registration.about}}
        </p>
        {% endif %}
        {% if site.data.registration.url %}
        <p class="text-center"> <a href="{{site.data.registration.url}}">
            <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
            <strong> {{site.data.registration.url}} </strong></a>
        </p>
        {% endif %}
        {% if site.data.registration.description %}
        <p>
            {{site.data.registration.description}}
        </p>
        {% endif %}
        <!--
        <h5>Visa</h5>
        <p>
            If you are an international traveller and need a visa to enter
            {{site.data.conference.country}}, please contact us after your paper is accepted.
        </p>
        -->
    </div>            
    <div class="text-body">
        <h4 id="valores-inscricao">Valores de inscrição</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-dark text-white">
                        <th colspan="2" style="min-width: 20rem">Categoria</th>
                        <th colspan="1">Até 7/11/2025</th>
                        <!-- <th colspan="1">Até 26/10/2025</th> -->
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td class="bg-success text-white" rowspan="4">Estudantes de Graduação</td>
                        <td class="bg-secondary">Estudante associado à SBC com anuidade vigente</td>
                        <td class="bg-secondary">R$ 5,00</td>
                    </tr>
                    <tr>
                        <td>Estudante não-associado à SBC (somente inscrição no evento)</td>
                        <td>R$ 39,00</td>               
                    </tr>
                    <tr class="bg-secondary">
                        <td>
                            Estudante associado à SBC com anuidade vencendo em até 90 dias (COMBO: inscrição no evento + renovação da
                            associação à SBC)
                        </td>
                        <td>R$ 38,00</td>
                    </tr>
                    <tr>
                        <td>
                            Estudante não-associado ou com associação não-vigente à SBC (COMBO: inscrição no evento + associação à SBC)
                        </td>
                        <td>R$ 38,00</td>
                    </tr>
                    <!-- Estudantes de pós-graduação -->
                    <tr>
                        <td style="background-color: #1987546e" rowspan="4">Estudantes de pós-graduação</td>
                        <td class="bg-secondary">Estudante de pós-graduação associado à SBC com anuidade vigente</td>
                        <td class="bg-secondary">R$ 10,00</td>
                    </tr>
                    <tr>
                        <td>Estudante de pós-graduação não-associado à SBC (somente inscrição no evento)</td>
                        <td>R$ 146,00</td>
                    </tr>
                    <tr class="bg-secondary">
                        <td>
                            Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (COMBO: inscrição no evento
                            + renovação da associação à SBC)
                        </td>
                        <td>R$ 145,00</td>
                    </tr>
                    <tr>
                        <td>
                            Estudante de pós-graduação não-associado ou com associação não-vigente à SBC (COMBO: inscrição no evento +
                            associação à SBC)
                        </td>
                        <td>R$ 140,00</td>
                    </tr>

					<!-- Professores de educação básica/municipal -->
                    <tr>
                        <td class=" bg-success text-white" rowspan="4">Professores de Educação Básica/Municipal</td>
                        <td class="bg-secondary">Professor de educação básica associado à SBC com anuidade vigente</td>
                        <td class="bg-secondary">R$ 40,00</td>
                    </tr>
                    <tr>
                        <td>Professor de educação básica não-associado à SBC (somente inscrição no evento)</td>
                        <td>R$ 179,00</td>
                    </tr>
                    <tr class="bg-secondary">
                        <td>
                            Professor de educação básica associado à SBC com anuidade vencendo em até 90 dias (COMBO: inscrição no
                            evento + renovação da associação à SBC)
                        </td>
                        <td>R$ 175,00</td>
                    </tr>
                    <tr>
                        <td>
                            Professor de educação básica não-associado ou com associação não-vigente à SBC (COMBO: inscrição no evento
                            + associação à SBC)
                        </td>
                        <td>R$ 175,00</td>
                    </tr>

					<!-- Professores de educação básica/federal -->
                    <tr>
                        <td style="background-color: #1987546e" rowspan="4">Professores de Educação Básica Federal</td>
                        <td class="bg-secondary">Professor de educação básica associado à SBC com anuidade vigente</td>
                        <td class="bg-secondary">R$ 40,00</td>
                    </tr>
                    <tr>
                        <td>Professor de educação básica não-associado à SBC (somente inscrição no evento)</td>
                        <td>R$ 414,00</td>
                    </tr>
                    <tr class="bg-secondary">
                        <td>
                            Professor de educação básica associado à SBC com anuidade vencendo em até 90 dias (COMBO: inscrição no
                            evento + renovação da associação à SBC)
                        </td>
                        <td>R$ 410,00</td>
                    </tr>
                    <tr>
                        <td>
                            Professor de educação básica não-associado ou com associação não-vigente à SBC (COMBO: inscrição no evento
                            + associação à SBC)
                        </td>
                        <td>R$ 410,00</td>
                    </tr>

                    <!-- Profissionais -->
                    <tr>
                        <td class="bg-success text-white" rowspan="4">Profissionais/Efetivos</td>
                        <td class="bg-secondary">Profissional associado à SBC com anuidade vigente</td>
                        <td class="bg-secondary">R$ 70,00</td>
                    </tr>
                    <tr>
                        <td>Profissional não-associado à SBC (somente inscrição no evento)</td>
                        <td>R$ 452,00</td>
                    </tr>
                    <tr class="bg-secondary">
                        <td>
                            Profissional associado à SBC com anuidade vencendo em até 90 dias (COMBO: inscrição no evento + renovação
                            da associação à SBC)
                        </td>
                        <td>R$ 445,00</td>
                    </tr>
                    <tr>
                        <td>
                            Profissional não-associado ou com associação não-vigente à SBC (COMBO: inscrição no evento + associação à
                            SBC)
                        </td>
                        <td>R$ 445,00</td>
                    </tr>
                    <tr>
                        <td style="background-color: #1987546e" rowspan="1">Professores de Educação Básica (Categoria antiga) </td>
                        <td class="bg-secondary">Professor de educação básica (Categoria antiga) associado à SBC com anuidade vigente </td>
                        <td class="bg-secondary">R$ 40,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4 id="formas-pagamento">Formas de pagamento</h4>
        <p>
            O pagamento de inscrições poderá ser realizado por meio de boleto bancário, 
            cartão de crédito, débito em conta do Banco do Brasil, nota de empenho ou faturamento.
        </p>
        <p>
            As inscrições podem ser feitas até o dia <strong>7 de novembro</strong>, porém os pagamentos por 
            débito e boleto serão aceitos até o dia <strong>3 de novembro</strong>.
        </p>
        <h5>Inscrições por nota de empenho e faturamento</h5>
        <p>
            O participante deverá acessar o sistema de inscrições e realizar a inscrição, selecionando 
            a forma de pagamento "nota de empenho" ou "faturamento" e clicar em "pagar". O sistema 
            fornecerá as informações necessárias para que a inscrição seja confirmada.
        </p>
       
		<h4 id="politica-cancelamento">Política de cancelamento</h4>
        <p>
            De acordo com as políticas da SBC, até dia <strong>28 de outubro</strong> pode-se fazer uma 
            devolução de 80% do valor pago pela inscrição na {{site.data.conference.short_name}}. Após 
            esta data não haverá devolução de qualquer valor pago. A política se aplica tanto para o 
            cancelamento da inscrição, quanto para o cancelamento de qualquer atividade adicional. Para 
            solicitar o cancelamento, enviar a solicitação para 
            <a href="mailto:faturamento@sbc.org.br">faturamento@sbc.org.br</a>.
        </p>

		<h4 id="inscricao-autores">Inscrição para autores</h4>
        <p>
            Pelo menos um dos alunos autores de cada um dos trabalhos aprovados na ERAD-SE 2025 devem 
            realizar a inscrição no evento até o dia <strong>31 de Outubro</strong> de 2025.
        </p>
        <p>
        Autores com mais de um trabalho aprovado na {{site.data.conference.short_name}} poderão efetuar apenas uma inscrição.  
            Não haverá cobrança adicional de taxa de publicação.
		</p>
        <h4 id="taxas-extras">Participação na Maratona de Programação Paralela</h4>
        <p>
        Participantes somente da Maratona não precisam inscrever na {{site.data.conference.short_name}}, mas em
        vez disso deve registrar sua equipe no seguinte <a href="https://forms.gle/Rw1r5tPsPufQqHPHA">
            <strong>formulário</strong> antes do <a href="./cpp.html"><strong>prazo</strong></a>. 
        </p>
        
        
        <br>
        <h5>Visitantes</h5>
        <p>
            Para participantes fora do Rio metropolitana, informações sobre hotéis próximos ao local do 
            evento estarão disponíveis na aba <a class="font-weight-bold" href="./venue.html">Local</a>. 
        </p>
        {% include contact-us.html %}
    </div>
</div>
