---
title: Submission
layout: page
slide_id: 3
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-2 text-justify conference-text">


        <h6 class="text-info">Instruções</h6>

        <p>
            Os artigos enviados não devem ter sido publicados anteriormente nem estar sob revisão por outro workshop, conferência ou periódico.
        </p>

        <p>
            Somente submissões eletrônicas em formato {{site.data.submission.file_formats | join:" or "}} 
            serão aceitos. Os artigos submetidos devem ser escritos em
            {{site.data.submission.languages | join:" or "}}, em conformidade com o limite de páginas do tipo de artigo,
            com o texto principal em fonte Times tamanho {{site.data.submission.fontsize}}, 
            e deve ser renderizado sem erros usando ferramentas de visualização de PDF padrão.
        </p>
        <p>
            <b>Limite de Páginas</b>
            <table class="table border">
                {% for track in site.data.submission.pagelimits %}
                <tr>
                    <td><b>{{track.name}}</b></td>
                    <td>{{track.limit}} páginas</td>
                </tr>
                {% endfor %}
            </table>
        </p>

        <p>
            Os artigos devem aderir ao <strong class="text-danger">{{site.data.submission.template.description}}</strong>, disponível em
            <a href="{{site.data.submission.template.url}}" target="_blank">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> {{site.data.submission.template.name}}
            </a>
            {% if site.data.submission.template.overleaf %}<br>O modelo também está disponível no
            <a href="{{site.data.submission.template.overleaf}}" target="_blank">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> Overleaf
            </a>
            {% endif %}
        </p>

        {% if site.data.submission.sources %}
        <p>
            <h6 class="text-info">Source Files</h6>
            <ul>
                {% for source in site.data.submission.sources %}
                <li>{{source.name}}: <a href="{{source.url}}">{{source.text}}</a></li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}

        {% if site.data.submission.extra %}
        <p>
            {{site.data.submission.extra}}
        </p>
        {% endif %}

        <p>
            <h6 class="text-info">Submissões</h6>
            Para enviar seu artigo, siga o link abaixo para o site de submissão e escolha a trilha apropriada:
        </p>

        <p class="text-center">
            <a href="{{site.data.submission.url}}">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                <strong> {{site.data.submission.portal}} </strong>
            </a>
        </p>

        <p>
            Note-se que pelo menos um dos autores de cada artigo aceito para apresentação na
            {{site.data.conference.short_title}} devem ser inscritos. 
            Todos os trabalhos apresentados nos Fóruns serão incluídos na biblioteca digital 
            SBC-OpenLib (SOL), mantida pela {{site.data.submission.publisher}}.
        </p>

        <h6 class="text-info">Instruções para a versão Camera-Ready</h6>
        <p>
            Você receberá as informações por e-mail com instruções para o preparo da versão de seu artigo aceito.

            <!--
                    The Author's Final Paper Formatting and Submission Instructions can be found at:</p>

                <p style="padding-top: 6px;padding-bottom: 6px;">
                </p>

                <p>If you encounter any problem, please contact our editor, ____, for assistance.</p>

                    <p>Please note your final camera-ready is due by
                    <b>September 25, 2015.</b>
                -->

        </p>


        {% include contact-us.html %}

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>
