---
title: Palestras
layout: page
slide_id: 3
---

<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col text-dark">
        <h6 class="text-info">Palestrantes Convidadas</h6>
        {% if site.data.talks.palestras %} 
            <div class="conference-text">
              <p> Abaixo, encontram-se detalhes sobre as palestrantes convidadas da 
                  {{site.data.conference.short_title}} e suas palestras.</p>
            </div>
            {% for talk in site.data.talks.palestras %}
            <div>
              <p>
                  <b>Palestra {{talk.type}}</b> entitulada <b><i>{{talk.title}}</i></b>
              </p>
              <p>
                <b>Horário e local</b>: {{talk.date}}, {{talk.time}} — {{talk.location}}
              </p>
              <p>
                <b>Resumo</b>: {{talk.abstract}}
              </p>
              <p><b>Palestrante(s)</b></p>
                <div class="card">
                <div class="card-header text-white bg-dark"><strong>{{talk.title}}</strong></div>
                {% if talk.members %}
                {% for speaker in talk.speakers %}
                <div class="card-block bg-light committee">
                    <p>
                        <a href="{{ speaker.homepage }}"><strong>{{ speaker.name }}</strong></a>
                    </p>
                    {% if speaker.post %}
                    <p class="card-subtitle text-muted" style="font-size: 90%;">{{ speaker.post }}</p>
                    {% endif %}
                    <p class="card-subtitle text-muted" style="font-size: 90%;">{{ speaker.org }}</p>
                
                    <div class="row">
                      <div class col-md-12> 
                        <img class="speaker-photo float-start" src="{{talk.image_path}}" 
                            alt="{{talk.speaker}}">                           
                        <p class="lead speaker-bio">
                        <b>Sobre a palestrante:</b> - {{talk.bio}}
                        </p>
                      </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="card-block bg-light committee">
                    <p class="card-title">TBA</p>
                    <p><strong>TBA</strong></p>
                    <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
                </div>
                {% endif %}
            </div>
              
            </div>
            {% endfor %}
            <p>
              Acesse o <a href="./program.html"><strong>cronograma</strong></a> para ver o resto da programação do {{site.data.conference.short_title}}.
            </p>
        {% else %}
        <div class="alert alert-warning rounded text-center mx-3 my-5">
            TBA
        </div>
        {% endif %}
        <div class="conference-text">
            {% include contact-us.html %}
        </div>
    </div>
</div>
