---
title: Venue
layout: page
slide_id: 7
---

<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col text-muted">

        <p>
            A {{site.data.conference.full_title}} acontecerá de
            {{site.data.conference.date}} no {{site.data.conference.location}},
            {{site.data.conference.country}}
        </p>

        <h6 class="text-info">Local da ERAD-SE 2025</h6>

        <p>
            {{site.data.venue.address}}
        </p>

        <h6 class="text-info">Accommodação</h6>

        <p>
            {{site.data.venue.accommodation.instructions}}
        </p>

        {% if site.data.venue.accommodation.hotels %}
        <ul>
            {% for hotel in site.data.venue.accommodation.hotels %}
            <li><b>{{hotel.name}}</b> ({{hotel.address}})</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h6 class="text-info">Directions</h6>

        <p>
            {{site.data.venue.directions}}
        </p>

        <img class="img-fluid" src="{{site.data.venue.direction}}" alt="direction">

    </div>
</div>
