---
layout: page
---

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-2 text-justify conference-text">

        <h5>Bem-vindo à {{site.data.conference.short_title}}!</h5>

        <p class="lead">
            A {{site.data.conference.full_title}} será realizada no {{site.data.conference.location}} 
            da {{site.data.conference.location2}}, localizada em {{site.data.conference.country}},
            de {{site.data.conference.date}}.
        </p>

        <!-- new -->
        <div class="card-block bg-success text-white committee">
            <div class="d-flex">
                <!-- <img class="img-fluid mt-0 mb-0" src="{{ site.data.conference.sbc_path }}" alt="SBC">
                -->
                <img class="speaker-photo" src="{{site.data.conference.sbc_path}}" alt="SBC"> 
                <div class="align-self-center text-justify">
                    {% if site.data.conference.description %}
                        <p>{{site.data.conference.description}}</p>    
                    <!-- <p class="card-subtitle"><b>Cargo</b>: {{ speaker.post }}</p> -->
                    {% endif %}
                    {{content}}
                </div>
            </div>
        </div>

        <!-- original 
        <p>
            {{site.data.conference.description}}
        </p>

        {{content}}
        -->
        
        {% include contact-us.html %}

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!-- news -->
        {% include card-news.html %}
        <!-- ---- -->
        <!-- important dates -->
        {% include card-important-dates.html %}
        <!-- ---------------- -->
    </div>
</div>

{% include sponsors.html %}
{% include organizers.html %}
